@charset "UTF-8";
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100vw;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.color_header {
  background-color: #52B6F9;
  /*Aquí se usa una variable*/
  margin: 0;
  padding: 0;
}

.logo_header {
  padding-left: 20px;
  max-width: 85px;
  min-height: 55px;
}

.logo_header:hover {
  cursor: pointer;
  max-width: 100px;
  min-height: 65px;
}

.navbar-nav {
  padding-left: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
}

.nav-link:hover {
  font-weight: 600;
  font-size: 20px;
}

ul li a {
  font-size: 20px;
  background-color: #52B6F9;
  /*Aquí se usa una variable*/
}

@media (min-width: 577px) and (max-width: 768px) {
  .navbar-toggler {
    margin-right: 15px;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 15px;
  }

  .logo_header {
    padding-left: 20px;
    max-width: 80px;
    min-height: 50px;
  }
}
@media (max-width: 576px) {
  .logo_header {
    padding-left: 20px;
    max-width: 75px;
    min-height: 45px;
  }

  .navbar-toggler {
    margin-right: 15px;
  }

  .navbar-nav {
    margin-right: 15px;
  }

  .nav {
    margin-right: 15px;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 15px;
  }

  .nav-link:hover {
    font-weight: 500;
    font-size: 16px;
  }
}
body {
  overflow-x: hidden;
}

/*Elementos del main index DESKTOP*/
.h1_index {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  /*Abajo se usa un mixin*/
  font-size: 40px;
  text-align: center;
  /*Abajo se usa una variable*/
  color: #52B6F9;
}

h1 {
  font-weight: bold;
  animation: tituloHome 6s;
}

@keyframes tituloHome {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.row-index {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.texto_mvv {
  /*Abajo se usa una variable*/
  font-size: 36px;
  text-align: center;
  /*Abajo se usa una variable*/
  color: gray;
  padding: 40px;
  animation-name: divUnoIndex;
  animation-duration: 3s;
  font-weight: 600;
}
.texto_mvv b {
  color: #1C94E5;
  font-weight: 650;
}

@keyframes divUnoIndex {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo_index_mvv {
  height: 130px;
  width: 170px;
}

.cut {
  /*Abajo se usa una variable*/
  font-size: 24px;
  color: #52B6F9;
  padding: 0;
}

.img_mvv {
  max-width: 60px;
}

.img_mvv:hover {
  cursor: pointer;
  max-width: 70px;
}

#mission, #vission,
#values {
  color: #1C94E5;
  /*Abajo se usa una variable*/
  font-size: 22px;
}

.caja1_index, .caja2_index,
.caja3_index {
  /*Abajo se aplica el extend*/
  font-size: 15px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.caja2_index,
.caja3_index {
  /*Abajo se aplica el extend*/
}

.div_video_index {
  min-height: 100vh;
  text-align: center;
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.video_index {
  max-width: 70vh;
  min-height: 95vh;
}

.div-estrellas {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.img_estrellazul {
  padding-top: 20px;
  max-width: 80px;
}

.img_estrellazul:hover {
  max-width: 90px;
  cursor: pointer;
}

.h3_index {
  padding-top: 10px;
  /*Abajo se usa una variable*/
  font-size: 40px;
  color: red;
  font-weight: 700;
}

.h4_index {
  /*Abajo se usa una variable*/
  font-size: 22px;
  padding-bottom: 20px;
}

/*Elementos del main index TABLET*/
@media (min-width: 577px) and (max-width: 768px) {
  .h1_index {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 36px;
  }

  .texto_mvv {
    font-size: 32px;
    padding-top: 15px;
  }

  .logo_index_mvv {
    height: 111px;
    width: 145px;
    margin: 0;
  }

  .cut {
    font-size: 22px;
  }

  .img_mvv {
    max-width: 55px;
  }

  #mission, #vission,
#values {
    font-size: 20px;
  }

  .caja1_index, .caja2_index,
.caja3_index {
    font-size: 14px;
  }

  .div_video_index {
    max-height: 90vh;
    text-align: center;
    /*Abajo se usan variables*/
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
  }

  .h3_index {
    font-size: 38px;
  }

  .h4_index {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
/*Elementos del main index CELPHONE*/
@media (max-width: 576px) {
  .div-general {
    /*Abajo se usan variables*/
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
  }

  .h1_index {
    padding-top: 4px;
    padding-bottom: 4px;
    /*Abajo se usa una variable*/
    font-size: 32px;
  }

  .texto_mvv {
    font-size: 28px;
    padding-top: 6px;
  }

  .logo_index_mvv {
    height: 91px;
    width: 119px;
    margin: 0;
  }

  .cut {
    font-size: 20px;
  }

  .img_mvv {
    max-width: 50px;
  }

  #mission, #vission,
#values {
    font-size: 18px;
  }

  .caja1_index, .caja2_index,
.caja3_index {
    font-size: 15px;
  }

  .div_video_index {
    max-height: 65vh;
    text-align: center;
    /*Abajo se usan variables*/
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
  }

  .video_index {
    max-height: 60vh;
  }

  .img_estrellazul {
    max-width: 60px;
  }

  .h3_index {
    padding-top: 6px;
    font-size: 36px;
  }

  .h4_index {
    padding-bottom: 20px;
    font-size: 18px;
  }
}
/*Elementos del main de oferta DESKTOP*/
.altura1 {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.logo_oferta {
  /*Abajo aplicamos un mixin*/
  width: 180px;
  height: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
  animation-duration: 2s;
  cursor: pointer;
}

#letras_div_of1, #letras_div_of2 {
  /*Abajo aplicamos un mixin*/
  font-size: 20px;
  color: red;
  animation-name: lDiv1Of1;
  animation-duration: 6s;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-weight: bold;
}

#letras_div_of2 {
  /*Abajo aplicamos un extend*/
  /*Abajo aplicamos un mixin*/
  font-size: 50px;
  color: #1C94E5;
  animation-name: lDiv1Of2;
  padding-top: 50px;
  padding-bottom: 80px;
  font-weight: bold;
}

/*A continuación un par de líneas de tiempo*/
@keyframes lDiv1Of1 {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes lDiv1Of2 {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.color_col {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  text-align: center;
  padding: 30px;
}

.color_col2 {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  text-align: center;
  padding: 30px;
}

.color_col_p {
  /*Abajo se usan variables*/
  background-image: radial-gradient(red 15%, #D6EAF8 85%);
  height: 80vh;
  text-align: center;
}

.btn-primary {
  padding-top: 20px;
  padding-bottom: 80px;
}

.btn-primary:hover {
  background-color: cornflowerblue;
  color: black;
  height: 32px;
  width: 110px;
  font-size: 17px;
  font-weight: 500;
}

.texto_oferta {
  /*Corresponde a líneas comentadas*/
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  color: gray;
  /*Abajo se aplica un mixin*/
  font-size: 50px;
}

.titulos_oferta {
  justify-content: center;
  /*Abajo se aplica un mixin*/
  font-size: 30px;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  /*Abajo se aplica un mixin*/
  color: cornflowerblue;
}

.texto_cajas {
  padding-right: 25px;
  padding-left: 25px;
  /*Aquí aplicamos un mixin*/
  font-size: 15px;
  text-align: justify;
}

.ImagenesOferta {
  /*Abajo se usa un mixin*/
  width: 290px;
  height: 300px;
  transition: width 1s, height 1s;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.ImagenesOferta:hover {
  /*Abajo aplicamos un mixin*/
  width: 320px;
  height: 330px;
  cursor: pointer;
}

iframe {
  width: 200px;
  height: 50px;
}

@media (min-width: 577px) and (max-width: 768px) {
  .altura1 {
    /*Abajo se usan variables*/
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .logo_oferta {
    /*Abajo aplicamos un mixin*/
    width: 125px;
    height: 160px;
    padding-top: 40px;
  }

  #letras_div_of1, #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 18px;
    padding-top: 40px;
    padding-left: 20px;
  }

  #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .texto_cajas {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .logo_oferta {
    /*Abajo aplicamos un mixin*/
    width: 70px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 1px;
  }

  .altura1 {
    /*Abajo se usan variables*/
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
    text-align: center;
    padding-top: 10px;
  }

  #letras_div_of1, #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 16px;
    padding-top: 10px;
    padding-left: 20px;
  }

  #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 30px;
  }

  .btn-primary {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .ImagenesOferta {
    /*Abajo aplicamos un mixin*/
    width: 203px;
    height: 210px;
    margin-top: 30px;
    text-align: center;
  }

  .ImagenesOferta:hover {
    /*Abajo aplicamos un mixin*/
    width: 223px;
    height: 231px;
    margin-top: 30px;
    text-align: center;
  }

  .texto_cajas {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
  }

  .titulos_oferta {
    /*Abajo aplicamos un mixin*/
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .texto_cajas {
    /*Abajo aplicamos un mixin*/
    font-size: 15px;
  }

  #letras_div_of1, #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 14px;
    padding-top: 50px;
    padding-left: 20px;
  }

  #letras_div_of2 {
    /*Abajo aplicamos un mixin*/
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
/*Elementos del main plantel DESKTOP*/
.alturaPl {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo_plantel {
  /*Abajo se usa un mixin*/
  width: 180px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  animation-duration: 2s;
  cursor: pointer;
}

.letras_div1_pl {
  /*Abajo se usó un mixin*/
  font-size: 40px;
  padding: 30px;
  /*Abajo se usa una variable*/
  color: #52B6F9;
  animation-name: lDiv1PL;
  animation-duration: 6s;
  font-weight: bold;
}

/*A continuación un par de líneas de tiempo para animación a las letras*/
@keyframes lDiv1PL {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.color_col_pl {
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.alt_plantel {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.alt_plantel2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.titulos_plantel {
  justify-content: center;
  /*Abajo se usa un mixin*/
  font-size: 38px;
  padding: 25px;
  /*Abajo se usa un mixin*/
  color: cornflowerblue;
  text-align: center;
}

.titulos_plantel3 {
  justify-content: center;
  /*Abajo se usa un mixin*/
  font-size: 38px;
  padding-top: 80px;
  /*Abajo se usa una variable*/
  color: cornflowerblue;
  text-align: center;
}

.texto_cajasPl {
  padding-right: 25px;
  padding-left: 25px;
  /*Abajo se usa un mixin*/
  font-size: 16px;
  text-align: center;
  color: black;
}

.plantelImgAulas {
  width: 384px;
  height: 288px;
  /*Arriba se usa un mixin*/
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.plantelImgMec {
  width: 384px;
  height: 288px;
  /*Arriba se usa un mixin*/
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.plantelImgCrim {
  width: 216px;
  height: 288px;
  /*Arriba se usa un mixin*/
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 577px) and (max-width: 768px) {
  .logo_plantel {
    width: 125px;
    height: 160px;
  }

  .letras_div1_pl {
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titulos_plantel {
    font-size: 34px;
    padding-top: 15px;
  }

  .titulos_plantel3 {
    font-size: 34px;
    padding-top: 15px;
  }

  .texto_cajasPl {
    font-size: 15px;
  }

  .alt_plantel {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .alt_plantel2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .plantelImgAulas {
    width: 307px;
    height: 230px;
    /*Arriba se usa un mixin*/
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .plantelImgMec {
    width: 307px;
    height: 230px;
    /*Arriba se usa un mixin*/
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .plantelImgCrim {
    width: 173px;
    height: 230px;
    /*Arriba se usa un mixin*/
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .alturaPl {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo_plantel {
    width: 100px;
    height: 140px;
  }

  .letras_div1_pl {
    font-size: 30px;
  }

  .titulos_plantel {
    font-size: 32px;
  }

  .titulos_plantel3 {
    font-size: 32px;
    padding-top: 20px;
  }

  .btn {
    font-size: 14px;
    padding-bottom: 5px;
  }

  .texto_cajasPl {
    font-size: 14px;
  }

  .color_col_pl {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .alt_plantel {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .alt_plantel2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .plantelImgAulas {
    width: 230px;
    height: 173px;
    /*Arriba se usa un mixin*/
  }

  .plantelImgMec {
    width: 230px;
    height: 173px;
    /*Arriba se usa un mixin*/
  }

  .plantelImgCrim {
    width: 130px;
    height: 173px;
    /*Arriba se usa un mixin*/
  }
}
/*Elementos del main index DESKTOP*/
/*Elementos del main de beca Desktop*/
.formBeca {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  /*Abajo se usa una variable*/
  font-size: 16px;
  /*Abajo se usan variables*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.h1_beca {
  text-align: center;
  /*Abajo se usa una variable*/
  color: #52B6F9;
  font-size: 40px;
  animation: tituloBeca 6s;
  font-weight: bold;
}

@keyframes tituloBeca {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.becaN {
  font-weight: bold;
  font-size: 16px;
}

.textoBeca {
  font-size: 16px;
}

.textAreaBeca {
  max-width: 80vw;
}

.botonBeca {
  /*Aquí se usa mixin*/
  font-size: 16px;
}

.asterisk {
  color: red;
}

/*Elementos del main index TABLET*/
@media (min-width: 577px) and (max-width: 768px) {
  .formBeca {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /*Abajo se usa mixin*/
    font-size: 15px;
  }

  .h1_beca {
    font-size: 36px;
  }

  .becaN {
    font-size: 15px;
  }

  .textoBeca {
    font-size: 15px;
  }
}
/*Elementos del main index CELPHONE*/
@media (max-width: 576px) {
  .formBeca {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /*Abajo se usa un mixin*/
    font-size: 14px;
  }

  .h1_beca {
    font-size: 32px;
  }

  .becaN {
    font-size: 14px;
  }

  .textoBeca {
    font-size: 14px;
  }
}
/*Elementos del main index DESKTOP*/
.color_cont_al {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  padding: 35px;
  /*Aquí se usan variables*/
}

.container-h1Alumnos {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.h1_alumnos {
  /*Aquí se usan variables*/
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  text-align: center;
  color: #52B6F9;
  /*Aquí se usa una variable*/
  font-weight: bold;
  animation: tituloAlumnos 6s;
}

@keyframes tituloAlumnos {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.col-12 {
  font-size: 16px;
}

.galumyeg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.color_col_alumno {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bt:hover {
  background-color: cornflowerblue;
  color: black;
  height: 32px;
  width: 130px;
  font-size: 17px;
  font-weight: 500;
}

.bt2:hover {
  background-color: cornflowerblue;
  color: black;
  height: 32px;
  width: 90px;
  font-size: 17px;
  font-weight: 500;
}

.imgModulos1 {
  width: 239px;
  height: 137px;
}

.imgModulos2 {
  width: 130px;
  height: 140px;
}

.imgModulos3 {
  width: 239px;
  height: 137px;
}

.img_Alumnos1 {
  width: 302px;
  height: 202px;
}

.img_Alumnos2 {
  width: 302px;
  height: 202px;
}

div .col {
  font-size: 16px;
}

/*Elementos del main index TABLET*/
@media (min-width: 577px) and (max-width: 768px) {
  .h1_alumnos {
    font-size: 36px;
    font-weight: 500;
  }

  .col-12 {
    font-size: 15px;
  }

  .imgModulos1 {
    width: 215px;
    height: 137px;
  }

  .imgModulos2 {
    padding-top: 20px;
    width: 105px;
    height: 126px;
  }

  .imgModulos3 {
    width: 215px;
    height: 137px;
  }

  .img_Alumnos1 {
    width: 272px;
    height: 184px;
  }

  .img_Alumnos2 {
    width: 272px;
    height: 184px;
  }
}
/*Elementos del main index CELPHONE*/
@media (max-width: 576px) {
  .h1_alumnos {
    font-size: 28px;
    font-weight: 500;
  }

  div .col-12 {
    font-size: 15px;
  }

  .imgModulos1 {
    width: 194px;
    height: 123px;
  }

  .imgModulos2 {
    padding-top: 20px;
    width: 90px;
    height: 111px;
  }

  .imgModulos3 {
    width: 194px;
    height: 123px;
  }

  .img_Alumnos1 {
    width: 245px;
    height: 166px;
  }

  .img_Alumnos2 {
    width: 245px;
    height: 166px;
  }

  .col-12 {
    font-size: 14px;
  }
}
.h1_Contacto {
  color: #52B6F9;
  /*Aquí se usa una variable*/
  text-align: center;
  /*Aquí se usa mixin*/
  font-weight: bold;
  font-size: 40px;
  animation: tituloContacto 6s;
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes tituloContacto {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
}
.contactoMapa {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  text-align: center;
  /*Aquí se usa un mixin*/
}

iframe {
  min-width: 90vw;
  min-height: 50vh;
  animation-name: mapaMovimiento;
  animation-duration: 5s;
}

@keyframes mapaMovimiento {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.cajasContacto {
  color: #52B6F9;
  /*Aquí se usa una variable*/
  padding: 4px;
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
}

.card {
  animation-name: cardMovimiento;
  animation-duration: 3s;
}

@keyframes cardMovimiento {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.card-title, .card-text {
  color: #0598FE;
  /*Abajo se usa un mixin*/
  text-align: center;
  /*Abajo se usa un mixin*/
  font-size: 15px;
  font-weight: 500;
}

.card-text {
  /*Abajo se usa un mixin*/
  font-size: 14px;
}

@media (min-width: 577px) and (max-width: 768px) {
  .h1_Contacto {
    font-size: 36px;
  }

  .card-title, .card-text {
    color: #0598FE;
    /*Abajo se usa un mixin*/
    text-align: center;
    /*Abajo se usa un mixin*/
    font-size: 14px;
    font-weight: 450;
  }

  .card-text {
    /*Abajo se usa un mixin*/
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .h1_Contacto {
    font-size: 32px;
  }

  .card-title, .card-text {
    /*Abajo se usa un mixin*/
    font-size: 13px;
    font-weight: 400;
  }

  .card-text {
    font-size: 12px;
    /*Aquí se usa un mixin*/
  }
}
/*Color extra:#1C94E5*/
/*Elementos del footer DESKTOP (Aplica para todas las páginas del sitio)*/
.imagen_footer {
  max-width: 230px;
}

.letras_footer {
  padding-top: 10px;
  font-size: 18px;
  color: black;
}

.text-dark {
  font-size: 15px;
}

.p-3 {
  font-size: 14px;
}

/*Elementos del footer DESKTOP (Aplica para todas las páginas del sitio)*/
@media (min-width: 577px) and (max-width: 768px) {
  .letras_footer {
    font-size: 16px;
  }

  .imagen_footer {
    max-width: 200px;
  }

  .text-dark {
    font-size: 14px;
  }

  .p-3 {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .letras_footer {
    font-size: 14px;
  }

  .imagen_footer {
    max-width: 170px;
  }

  .text-dark {
    font-size: 13px;
  }

  .p-3 {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
