@charset "UTF-8";
/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100vw;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}

.color_header {
  background-color: #52B6F9;
  /*Aquí se usa una variable*/
  margin: 0;
  padding: 0;
}

.logo_header {
  padding-left: 20px;
  max-width: 85px;
  min-height: 55px;
}

.logo_header:hover {
  cursor: pointer;
  max-width: 100px;
  min-height: 65px;
}

.navbar-nav {
  padding-left: 10px;
}

.nav-link {
  font-weight: 400;
  font-size: 18px;
}

.nav-link:hover {
  font-weight: 600;
  font-size: 20px;
}

ul li a {
  font-size: 20px;
  background-color: #52B6F9;
  /*Aquí se usa una variable*/
}

@media (min-width: 577px) and (max-width: 768px) {
  .navbar-toggler {
    margin-right: 15px;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 15px;
  }

  .logo_header {
    padding-left: 20px;
    max-width: 80px;
    min-height: 50px;
  }
}
@media (max-width: 576px) {
  .logo_header {
    padding-left: 20px;
    max-width: 75px;
    min-height: 45px;
  }

  .navbar-toggler {
    margin-right: 15px;
  }

  .navbar-nav {
    margin-right: 15px;
  }

  .nav {
    margin-right: 15px;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 15px;
  }

  .nav-link:hover {
    font-weight: 500;
    font-size: 16px;
  }
}
body {
  overflow-x: hidden;
}

/*Elementos del main index Desktop*/
.h1_index {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 40px;
  /*font-size: 40px;*/
  text-align: center;
  color: #52B6F9;
  /*Aquí se usa una variable*/
}

h1 {
  font-weight: 650;
}

/*.colordiv{ 
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
}Falta modificar*/
/*.altura {
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
    height: 125vh;
}*/
.row-index {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
}

.texto_mvv {
  font-size: 36px;
  /*font-size: 36px;*/
  text-align: center;
  color: gray;
  /*Aquí se usa una variable*/
  padding: 40px;
  animation-name: divUnoIndex;
  animation-duration: 3s;
  font-weight: 600;
}
.texto_mvv b {
  color: #1C94E5;
  font-weight: 650;
}

@keyframes divUnoIndex {
  from {
    transform: translateX(1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo_index_mvv {
  height: 130px;
  width: 170px;
}

.cut {
  font-size: 24px;
  /*font-size: 16px;*/
  color: #52B6F9;
  /*Aquí se usa una variable*/
  padding: 0;
}

.img_mvv {
  max-width: 60px;
}

.img_mvv:hover {
  cursor: pointer;
  max-width: 70px;
}

#mission, #vission,
#values {
  color: #1C94E5;
  font-size: 22px;
  /*font-size: 18px;*/
}

/*Aquí se aplica el extend*/
.caja1_index, .caja2_index,
.caja3_index {
  font-size: 15px;
  /*font-size: 16px;*/
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

/*Aquí se aplica el extend*/
.div_video_index {
  height: 95vh;
  text-align: center;
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
}

.video_index {
  min-width: 95vh;
  min-height: 75vh;
}

.div-estrellas {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
}

.img_estrellazul {
  max-width: 80px;
}

.img_estrellazul:hover {
  max-width: 90px;
  cursor: pointer;
}

.h3_index {
  padding-top: 10px;
  font-size: 40px;
  /*font-size: 45px;*/
  color: red;
  font-weight: 700;
}

.h4_index {
  font-size: 22px;
  padding-bottom: 20px;
}

/*Elementos del main index Tablet*/
@media (min-width: 577px) and (max-width: 768px) {
  .h1_index {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 36px;
  }

  h1 {
    font-weight: 600;
  }

  .texto_mvv {
    font-size: 32px;
    padding-top: 6px;
    font-weight: 500;
  }
  .texto_mvv b {
    color: #1C94E5;
    font-weight: 550;
  }

  .logo_index_mvv {
    height: 111px;
    width: 145px;
    margin: 0;
  }

  .cut {
    font-size: 22px;
  }

  .img_mvv {
    max-width: 55px;
  }

  #mission, #vission,
#values {
    font-size: 20px;
  }

  .caja1_index, .caja2_index,
.caja3_index {
    font-size: 14px;
  }

  .div_video_index {
    max-height: 90vh;
    text-align: center;
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
    /*Aquí se usan variables*/
  }

  .h3_index {
    font-size: 38px;
  }

  .h4_index {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
/*Elementos del main index Celphone*/
@media (max-width: 576px) {
  .div-general {
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
    /*Aquí se usan variables*/
  }

  .h1_index {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 32px;
  }

  h1 {
    font-weight: 550;
  }

  .texto_mvv {
    font-size: 28px;
    padding-top: 6px;
    font-weight: 450;
  }
  .texto_mvv b {
    color: #1C94E5;
    font-weight: 500;
  }

  .logo_index_mvv {
    height: 91px;
    width: 119px;
    margin: 0;
  }

  .cut {
    font-size: 20px;
  }

  .img_mvv {
    max-width: 50px;
  }

  #mission, #vission,
#values {
    font-size: 18px;
  }

  .caja1_index, .caja2_index,
.caja3_index {
    font-size: 15px;
  }

  .div_video_index {
    max-height: 85vh;
    text-align: center;
    background-image: radial-gradient(white 15%, #D6EAF8 85%);
    /*Aquí se usan variables*/
  }

  .video_index {
    min-height: 65vh;
  }

  .img_estrellazul {
    max-width: 60px;
  }

  .h3_index {
    padding-top: 6px;
    font-size: 36px;
  }

  .h4_index {
    padding-bottom: 20px;
    font-size: 18px;
  }
}
/*Elementos del main de oferta Desktop*/
.logo_oferta {
  width: 180px;
  height: 140px;
  /*Aquí aplicamos un mixin*/
  /*width: 180px;
  height: 140px;*/
  animation-duration: 2s;
  cursor: pointer;
}

#letras_div_of1, #letras_div_of2 {
  font-size: 18px;
  /*Aquí aplicamos un mixin*/
  /*font-size: 18px;*/
  color: red;
  animation-name: lDiv1Of1;
  animation-duration: 2s;
  padding-top: 35px;
  padding-left: 20px;
}

#letras_div_of2 {
  /*Aquí aplicamos un extend*/
  /*animation-duration: 2s;
  padding-right: 15px;
  padding-left: 15px;*/
  animation-name: lDiv1Of2;
  font-size: 50px;
  /*Aquí aplicamos un mixin*/
  /*font-size: 50px;*/
  color: #1C94E5;
  padding-bottom: 20px;
}

/*A continuación un par de líneas de tiempo*/
@keyframes lDiv1Of1 {
  from {
    opacity: 0;
    transform: translate(-600px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes lDiv1Of2 {
  from {
    opacity: 0;
    transform: translate(600px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.altura1 {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  height: 100vh;
  text-align: center;
}

.color_col {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  height: 80vh;
  text-align: center;
}

.color_col2 {
  text-align: center;
}

.color_col_p {
  background-image: radial-gradient(red 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  height: 80vh;
  text-align: center;
}

.btn-primary:hover {
  background-color: cornflowerblue;
  color: black;
  height: 32px;
  width: 110px;
  font-size: 17px;
  font-weight: 500;
}

.texto_oferta {
  /*Corresponde a líneas comentadas*/
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  color: gray;
  font-size: 50px;
  /*Aquí aplicamos un mixin*/
  /*font-size: 50px;*/
}

.titulos_oferta {
  justify-content: center;
  font-size: 30px;
  /*Aquí aplicamos un mixin*/
  /*font-size: 40px;*/
  padding-top: 75px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: cornflowerblue;
  /*Aquí se usa una variable*/
}

.texto_cajas {
  padding-right: 35px;
  padding-left: 35px;
  font-size: 15px;
  /*Aquí aplicamos un mixin*/
  /*font-size: 16px;*/
  text-align: justify;
}

.ImagenesOferta {
  width: 290px;
  height: 300px;
  /*Aquí aplicamos un mixin*/
  /*width: 290px;
  height: 300px;*/
  transition: width 1s, height 1s;
  margin-top: 60px;
  text-align: center;
}

.ImagenesOferta:hover {
  width: 320px;
  height: 330px;
  /*Aquí aplicamos un mixin*/
  /*width: 340px;
  height: 350px;*/
  cursor: pointer;
}

iframe {
  width: 200px;
  height: 50px;
}

@media (max-width: 576px) {
  .logo_oferta {
    height: 91px;
    width: 119px;
    margin: 0;
  }

  #letras_div_of1, #letras_div_of2 {
    font-size: 16px;
  }

  #letras_div_of2 {
    font-size: 30px;
  }

  .altura1 {
    height: 50vh;
  }

  .color_col {
    height: 50vh;
    padding-top: 10px;
  }

  .color_col2 {
    height: 30vh;
  }

  .ImagenesOferta {
    width: 203px;
    height: 210px;
    /*Aquí aplicamos un mixin*/
    margin-top: 30px;
    text-align: center;
  }

  .ImagenesOferta:hover {
    width: 223px;
    height: 231px;
    /*Aquí aplicamos un mixin*/
    margin-top: 30px;
    text-align: center;
  }

  .titulos_oferta {
    font-size: 24px;
    /*Aquí aplicamos un mixin*/
    /*font-size: 40px;*/
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .texto_cajas {
    font-size: 15px;
    /*Aquí aplicamos un mixin*/
    /*font-size: 16px;*/
  }
}
/*Elementos del main plantel Desktop*/
.alturaPl {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  height: 80vh;
  text-align: center;
}

.logo_plantel {
  width: 180px;
  height: 140px;
  /*aquí se usa un mixin*/
  /*width: 180px;
  height: 140px;*/
  animation-duration: 2s;
  cursor: pointer;
}

#letras_div1_pl {
  font-size: 35px;
  /*Aquí se usa un mixin*/
  /*font-size: 35px;*/
  color: #52B6F9;
  animation-name: lDiv1Of1;
  animation-duration: 2s;
  padding: 60px;
}

.color_col_pl {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  height: 70vh;
  text-align: center;
}

/*A continuación un par de líneas de tiempo para animación a las letras*/
@keyframes lDiv1PL {
  from {
    opacity: 0;
    transform: translate(-600px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.titulos_plantel {
  justify-content: center;
  font-size: 40px;
  /*Aquí se usa un mixin*/
  /*font-size: 40px;*/
  padding-top: 75px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 30px;
  color: cornflowerblue;
  /*Aquí se usa un mixin*/
  text-align: center;
}

.texto_cajasPl {
  padding-right: 25px;
  padding-left: 25px;
  font-size: 16px;
  /*Aquí se usa un mixin*/
  /*font-size: 16px;*/
  text-align: center;
  color: black;
}

.plantelImgAulas {
  width: 384px;
  height: 288px;
  /*Aquí se usa un mixin*/
  /*width: 290px;
  height: 300px;*/
  margin: 60px;
}

.plantelImgMec {
  width: 384px;
  height: 288px;
  /*Aquí se usa un mixin*/
  /*width: 290px;
  height: 300px;*/
  margin: 60px;
}

.plantelImgCrim {
  width: 216px;
  height: 288px;
  /*Aquí se usa un mixin*/
  /*width: 290px;
  height: 300px;*/
  margin: 60px;
}

.modal-title {
  text-align: center;
}

@media (max-width: 576px) {
  .alturaPl {
    height: 50vh;
  }

  .logo_plantel {
    height: 91px;
    width: 119px;
    margin: 0;
  }

  #letras_div1_pl {
    font-size: 27px;
  }

  .color_col_pl {
    height: 60vh;
  }

  .titulos_plantel {
    font-size: 24px;
    /*Aquí se usa un mixin*/
    /*font-size: 40px;*/
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .btn {
    font-size: 14px;
  }

  .plantelImgAulas {
    width: 239px;
    height: 179px;
    /*Aquí se usa un mixin*/
    margin: 5px;
  }

  .plantelImgMec {
    width: 175px;
    height: 175px;
    /*Aquí se usa un mixin*/
    margin: 5px;
  }

  .texto_cajasPl {
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    /*Aquí se usa un mixin*/
  }

  .plantelImgAulas {
    width: 230px;
    height: 173px;
    /*Aquí se usa un mixin*/
    /*width: 290px;
    height: 300px;*/
    margin: 30px;
    text-align: center;
  }

  .plantelImgMec {
    width: 230px;
    height: 173px;
    /*Aquí se usa un mixin*/
    /*width: 290px;
    height: 300px;*/
    margin: 30px;
  }

  .plantelImgCrim {
    width: 130px;
    height: 173px;
    /*Aquí se usa un mixin*/
    /*width: 290px;
    height: 300px;*/
    margin: 30px;
  }
}
/*Elementos del main de beca Desktop*/
.formBeca {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  font-size: 16px;
  /*Aquí se us mixin*/
  /*font-size: 16px;*/
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
}

.h1_beca {
  text-align: center;
  color: #52B6F9;
  /*Aquí se usa una variable*/
  font-size: 38px;
}

.becaN {
  font-weight: bold;
}

.textAreaBeca {
  max-width: 80vw;
}

.botonBeca {
  font-size: 16px;
  /*Aquí se usa mixin*/
  /*font-size: 16px;*/
}

.asterisk {
  color: red;
}

@media (max-width: 576px) {
  .formBeca {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 15px;
    /*Aquí se us mixin*/
  }

  .h1_beca {
    font-size: 20px;
  }
}
.color_cont_al {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  padding: 35px;
  /*Aquí se usan variables*/
}

.h1_alumnos {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 40px;
  text-align: center;
  color: #52B6F9;
  /*Aquí se usa una variable*/
}

.col {
  padding-top: 100px;
  padding-bottom: 100px;
}

.color_col_alumno {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  padding-top: 40px;
  padding-bottom: 100px;
}

.altura_row_alumno1 {
  height: 50vh;
  padding-top: 30px;
}

.altura_row_alumno2 {
  height: 60vh;
  padding-top: 90px;
}

.btn {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bt:hover {
  background-color: cornflowerblue;
  color: black;
  height: 32px;
  width: 130px;
  font-size: 17px;
  font-weight: 500;
}

.img_Alumnos1 {
  width: 300px;
  height: 225px;
}

.img_Alumnos2 {
  width: 338px;
  height: 225px;
}

div .col {
  font-size: 16px;
}

@media (max-width: 576px) {
  .h1_alumnos {
    padding: 4px;
    font-size: 26px;
  }

  div .col-12 {
    font-size: 15px;
  }

  .altura_row_alumno1 {
    height: 110vh;
    padding-top: 10px;
  }

  .altura_row_alumno2 {
    height: 90vh;
    padding-top: 90px;
  }

  .imgModulos1 {
    width: 239px;
    height: 137px;
  }

  .imgModulos2 {
    padding-top: 20px;
    width: 162px;
    height: 173px;
  }

  .imgModulos3 {
    width: 239px;
    height: 137px;
  }

  .img_Alumnos1 {
    width: 210px;
    height: 158px;
  }

  .img_Alumnos2 {
    width: 237px;
    height: 158px;
  }
}
.contactoMapa {
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
  /*text-align: center;*/
  text-align: center;
  /*Aquí se usa un mixin*/
}

.h1_Contacto {
  color: #52B6F9;
  /*Aquí se usa una variable*/
  /*text-align: center;*/
  text-align: center;
  /*Aquí se usa mixin*/
}

iframe {
  min-width: 90vw;
  min-height: 50vh;
}

.cajasContacto {
  color: #52B6F9;
  /*Aquí se usa una variable*/
  font-size: 18px;
  /*Aquí se usa un mixin*/
  /*font-size: 18px;*/
  padding: 4px;
  background-image: radial-gradient(white 15%, #D6EAF8 85%);
  /*Aquí se usan variables*/
}

.card-title, .card-text {
  color: #0598FE;
  /*text-align: center;*/
  text-align: center;
  /*Aquí se usa un mixin*/
  font-size: 14px;
  /*Aquí se usa un mixin*/
  /*font-size: 14px;*/
  font-weight: 500;
}

.card-text {
  /*Aquí se aplica extend*/
  font-size: 13px;
  /*Aquí se usa un mixin*/
  /*font-size: 13px;*/
}

@media (max-width: 576px) {
  .card-title, .card-text {
    color: #0598FE;
    text-align: center;
    /*Aquí se usa un mixin*/
    font-size: 15px;
    /*Aquí se usa un mixin*/
    font-weight: 500;
  }

  .card-text {
    /*Aquí se aplica extend*/
    font-size: 14px;
    /*Aquí se usa un mixin*/
    /*font-size: 13px;*/
  }
}
/*Color extra:#1C94E5*/
/*Elementos del footer Desktop (Aplica para todas las páginas del sitio)*/
.imagen_footer {
  max-width: 250px;
}

.letras_footer {
  padding-top: 15px;
  font-size: 18px;
  color: black;
}

.text-dark {
  font-size: 15px;
}

@media (min-width: 577px) and (max-width: 768px) {
  .imagen_footer {
    max-width: 220px;
  }
}
@media (max-width: 576px) {
  .imagen_footer {
    max-width: 190px;
  }
}

/*# sourceMappingURL=estilos.css.map */
