/*Elementos del footer Desktop (Aplica para todas las páginas del sitio)*/

.imagen_footer {
    max-width: 250px;
}

.letras_footer {
    padding-top: 15px;
    font-size: 18px;
    color: black;
}

.text-dark{
    font-size: 15px;
}