/*Elementos del footer DESKTOP (Aplica para todas las páginas del sitio)*/

.imagen_footer {
    max-width: 230px;
}

.letras_footer {
    padding-top: 10px;
    font-size: 18px;
    color: black;
}

.text-dark {
    font-size: 15px;
}

.p-3{
    font-size: 14px;
}

/*Elementos del footer DESKTOP (Aplica para todas las páginas del sitio)*/
@media (min-width: 577px) and (max-width: 768px) {
    
    .letras_footer {
        font-size: 16px;
    }

    .imagen_footer {
        max-width: 200px;
    }

    .text-dark {
        font-size: 14px;
    }
    
    .p-3{
        font-size: 13px;
    }

}

@media (max-width: 576px) {

    .letras_footer {
        font-size: 14px;
    }

    .imagen_footer {
        max-width: 170px;
    }

    .text-dark {
        font-size: 13px;
    }
    
    .p-3{
        font-size: 12px;
    }

}