@mixin tamanio($width, $height) {
    width: $width;
    height: $height;
}

@mixin tamanioLetra($font_si) {
    font-size: $font_si;
}

body {
    overflow-x: hidden;
}

/*Elementos del main index Desktop*/
.h1_index{
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%); /*Aquí se usan variables*/
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    @include tamanioLetra(40px);
    /*font-size: 40px;*/
    text-align: center;
    color: $header_deg2; /*Aquí se usa una variable*/
}

.foto_tour { /*Corresponde a líneas comentadas(en espera)*/
    max-width: 30vw;
}

/*.colordiv{ 
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
}Falta modificar*/

.altura{
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
    height: 125vh;
}

.texto_mvv {
    @include tamanioLetra(36px);
    /*font-size: 36px;*/
    text-align: center;
    color: $color_texto_mvv; /*Aquí se usa una variable*/
    padding: 40px;
    animation-name: divUnoIndex;
    animation-duration: 3s;
}

.row-index{
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
}

.logo_index_mvv {
    height: 130px;
    width: 170px;
}

.cut{
    @include tamanioLetra(24px);
    /*font-size: 16px;*/
    color: $header_deg2; /*Aquí se usa una variable*/
    padding: 0;
}

@keyframes divUnoIndex {
    from {
        transform: translateX(1000px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.img_mvv {
    max-width: 60px;
}

#mission{
    color: #1C94E5;
    @include tamanioLetra(20px);
    /*font-size: 18px;*/
}

#vission,
#values {
    @extend #mission;
}/*Aquí se aplica el extend*/

.caja1_index {
    @include tamanioLetra(15px);
    /*font-size: 16px;*/
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.caja2_index,
.caja3_index {
    @extend .caja1_index;
}/*Aquí se aplica el extend*/

.div_video_index {
    height: 95vh;
    text-align: center;
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%); /*Aquí se usan variables*/
}

.video_index {
    min-width: 95vh;
    min-height: 75vh;
}

.div-estrellas{
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%); /*Aquí se usan variables*/
}

.img_estrellazul {
    max-width: 80px;
}

.h3_index{
    padding-top: 10px;
    @include tamanioLetra(40px);
    /*font-size: 45px;*/
    color: red;
}

.h4_index{
    @include tamanioLetra(22px);
    padding-bottom: 20px;
}

/*Elementos del main index Celphone*/
@media (max-width: 576px){
    .div-general{
        background-image: radial-gradient($color_deg1 15%, $color_deg2 85%); /*Aquí se usan variables*/
    }

    .h1_index{
        padding-top: 4px; 
        padding-bottom: 4px;
        @include tamanioLetra(20px);
    }

    .texto_mvv {
        @include tamanioLetra(24px);
        padding-top: 6px;
    }

    .logo_index_mvv {
        height: 91px;
        width: 119px;
        margin: 0;
    }


    .cut{
        @include tamanioLetra(18px);
    }
    
    .img_mvv {
        max-width: 45px;
    }
    
    #mission{
        @include tamanioLetra(16px);
    }

    .caja1_index {
        @include tamanioLetra(12px);
    }

    .div_video_index {
        max-height: 85vh;
        text-align: center;
        background-image: radial-gradient($color_deg1 15%, $color_deg2 85%); /*Aquí se usan variables*/
    }

    .video_index {
        min-height: 65vh;
    }

    .img_estrellazul {
        max-width: 60px;
    }
    
    .h3_index{
        padding-top: 6px;
        @include tamanioLetra(28px);
    }
    
    .h4_index{
        padding-bottom: 20px;
        @include tamanioLetra(18px);
    }
}

