/*Elementos del main de oferta DESKTOP*/
@mixin tamanio($width, $height) {
    width: $width;
    height: $height;
}

@mixin tamLetra($font) {
    font-size: $font;
}

.altura1 {
    /*Abajo se usan variables*/
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo_oferta {
    /*Abajo aplicamos un mixin*/
    @include tamanio(180px, 200px);
    padding-top: 40px;
    padding-bottom: 20px;
    animation-duration: 2s;
    cursor: pointer;
}

#letras_div_of1 {
    /*Abajo aplicamos un mixin*/
    @include tamLetra(20px);
    color: red;
    animation-name: lDiv1Of1;
    animation-duration: 6s;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
}

#letras_div_of2 {
    /*Abajo aplicamos un extend*/
    @extend #letras_div_of1;
    /*Abajo aplicamos un mixin*/
    @include tamLetra(50px);
    color: #1C94E5;
    animation-name: lDiv1Of2;
    padding-top: 50px;
    padding-bottom: 80px;
    font-weight: bold;
}

/*A continuación un par de líneas de tiempo*/
@keyframes lDiv1Of1 {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    30% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    90% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes lDiv1Of2 {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    30% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    90% {
        transform: scale(1);
        opacity: 1;
    }
}

.color_col {
    /*Abajo se usan variables*/
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
    padding: 30px;
}

.color_col2 {
    /*Abajo se usan variables*/
    background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
    text-align: center;
    padding: 30px;
}

.color_col_p {
    /*Abajo se usan variables*/
    background-image: radial-gradient(red 15%, $color_deg2 85%);
    height: 80vh;
    text-align: center;
}

.btn-primary {
    padding-top: 20px;
    padding-bottom: 80px;
}

.btn-primary:hover {
    background-color: cornflowerblue;
    color: black;
    height: 32px;
    width: 110px;
    font-size: 17px;
    font-weight: 500;
}

.texto_oferta {
    /*Corresponde a líneas comentadas*/
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    color: gray;
    /*Abajo se aplica un mixin*/
    @include tamLetra(50px);
}

.titulos_oferta {
    justify-content: center;
    /*Abajo se aplica un mixin*/
    @include tamLetra(30px);
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 30px;
    /*Abajo se aplica un mixin*/
    color: $color_textos;
}

.texto_cajas {
    padding-right: 25px;
    padding-left: 25px;
    /*Aquí aplicamos un mixin*/
    @include tamLetra(15px);
    text-align: justify;
}

.ImagenesOferta {
    /*Abajo se usa un mixin*/
    @include tamanio(290px, 300px);
    transition: width 1s, height 1s;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.ImagenesOferta:hover {
    /*Abajo aplicamos un mixin*/
    @include tamanio(320px, 330px);
    cursor: pointer;
}

iframe {
    width: 200px;
    height: 50px;
}

@media(min-width: 577px) and (max-width: 768px) {

    .altura1 {
        /*Abajo se usan variables*/
        background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .logo_oferta {
        /*Abajo aplicamos un mixin*/
        @include tamanio(125px, 160px);
        padding-top: 40px;
    }

    #letras_div_of1 {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(18px);
        padding-top: 40px;
        padding-left: 20px;
    }

    #letras_div_of2 {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(40px);
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .texto_cajas {
        @include tamLetra(15px);
    }

}

@media (max-width: 576px) {
    .logo_oferta {
        /*Abajo aplicamos un mixin*/
        @include tamanio(70px, 80px);
        padding-top: 20px;
        padding-bottom: 1px;
    }

    .altura1 {
        /*Abajo se usan variables*/
        background-image: radial-gradient($color_deg1 15%, $color_deg2 85%);
        text-align: center;
        padding-top: 10px;
    }

    #letras_div_of1 {
        /*Abajo aplicamos un mixin*/
        @include tamanioLetra(16px);
        padding-top: 10px;
        padding-left: 20px;
    }

    #letras_div_of2 {
        /*Abajo aplicamos un mixin*/
        @include tamanioLetra(30px);
    }

    .btn-primary {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .ImagenesOferta {
        /*Abajo aplicamos un mixin*/
        @include tamanio(203px, 210px);
        margin-top: 30px;
        text-align: center;
    }

    .ImagenesOferta:hover {
        /*Abajo aplicamos un mixin*/
        @include tamanio(223px, 231px);
        margin-top: 30px;
        text-align: center;
    }

    .texto_cajas {
        padding-right: 15px;
        padding-left: 15px;
        @include tamLetra(14px);
    }

    .titulos_oferta {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(24px);
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .texto_cajas {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(15px);
    }

    #letras_div_of1 {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(14px);
        padding-top: 50px;
        padding-left: 20px;

    }

    #letras_div_of2 {
        /*Abajo aplicamos un mixin*/
        @include tamLetra(34px);
        padding-top: 50px;
        padding-bottom: 70px;
    }
}